


#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150vh;
    max-height: 100%;
    width: 100%;
    max-height: 1080px;
    max-width: 1920px;
}

.form-container{
    height: 100%;
    display: flex;
    align-items: center;
}

form, .form_wrapper{
    max-height: 479px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}



.input{
    font-size: 16px;
    line-height: 19px;
    padding-left: 7px;
    border: none;
}

.input-wrapper, .input-wrapper-message{
    margin-top: 75px;
    margin-right: 30px;
    min-width: 570px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #2874A6;
}

.input-wrapper-message{
    max-width: 1169px;
    width: 100%;
}

.sendButton{
    margin-top: 65px;
    width: 210px;
    height: 67px;
    background-color: #5DADE2;
    color: white;
    box-shadow: 0px 4px 10px rgba(55, 123, 169, 0.3);
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    border: none;
}

