


#home{
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    max-width: 1920px;
    background-image: url(../../../assets/BackgroundHome.png);
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(27, 79, 114, 0.35);
}

.home-container{
    height: calc(100vh - 105px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homeText{
    max-width: 100%;
    padding: 65px 30px ;
}